{% from "_render_field.html" import render_field %}
{% extends "base.html" %}
{% block mainblock %}

<!-- First Card: Shangri-La Singapore -->
<div class="col-xl-4">

    <div class="mt-5 card card-common" style="width: 20rem;">
      <img src="https://bit.ly/3Ifjcn6" class="card-img-top" alt="Shangri-La Singapore" style="width:250px;height:250px;">
      <div class="card-body">
        <h5 class="card-title">Shangri-La Singapore</h5>
        <p class="card-text">Treat the entire family to a luxurious staycation experience complete with world-class culinary experiences at The Singapore.</p>
        <a href="shangri-la" class="btn btn-primary">Book</a>
      </div>
    </div>
  </div>

  <!-- Second Card: Capella Singapore -->
  <div class="col-xl-4">

    <div class="mt-5 card card-common" style="width: 20rem;">
      <img src="https://bit.ly/3Ideiaa" class="card-img-top" alt="Capella Singapore" style="width:250px;height:250px;">
      <div class="card-body">
        <h5 class="card-title">Capella Singapore</h5>
        <p class="card-text">Celebrate Singapore's 133rd birthday with the Reflections of staycation package for Singaporeans to experience the history of the national monument.</p>
        <a href="capella" class="btn btn-primary">Book</a>
      </div>
    </div>
  </div>

  <!-- Third Card: W Singapore - Sentosa Cove -->
  <div class="col-xl-4">

    <div class="mt-5 card card-common" style="width: 20rem;">
      <img src="https://bit.ly/3fyjtVW" class="card-img-top" alt="W Singapore - Sentosa Cove" style="width:250px;height:250px;">
      <div class="card-body">
        <h5 class="card-title">W Singapore - Sentosa Cove</h5>
        <p class="card-text">Want to pamper the special person in your life this season of gifting? Singapore's leading hospitality operator Far East Hospitality is launching festive staycation packages for not only one, but four of its properties: W Singapore</p>
        <a href="w-singapore" class="btn btn-primary">Book</a>
      </div>
    </div>
  </div>

  <!-- Fourth Card: York Hotel Singapore -->
  <div class="col-xl-4">

    <div class="mt-5 card card-common" style="width: 20rem;">
      <img src="https://bit.ly/33LzHs4" class="card-img-top" alt="York Hotel Singapore" style="width:250px;height:250px;">
      <div class="card-body">
        <h5 class="card-title">York Hotel Singapore</h5>
        <p class="card-text">This festive season, book a stay at York Hotel and indulge in its festive line-up of celebratory ideas to fill your hearts - and tummies - with amazing food and good cheer.</p>
        <a href="york-hotel" class="btn btn-primary">Book</a>
      </div>
    </div>
  </div>

  <!-- Fifth Card: Studio M -->
  <div class="col-xl-4">

    <div class="mt-5 card card-common" style="width: 20rem;">
      <img src="https://bit.ly/3IdyoRp" class="card-img-top" alt="Studio M" style="width:250px;height:250px;">
      <div class="card-body">
        <h5 class="card-title">Studio M</h5>
        <p class="card-text">Nestled in the heart of vibrant Robertson Quay along the iconic Singapore River, M Social Singapore offers accommodation away from the hustle and bustle of the city - complete with stylish interiors by renowned French designer Philippe Starck.</p>
        <a href="studio-m" class="btn btn-primary">Book</a>
      </div>
    </div>
  </div>

  <!-- Sixth Card: Discovery Package -->
  <div class="col-xl-4">

    <div class="mt-5 card card-common" style="width: 20rem;">
      <img src="https://bit.ly/3KmZpE7" class="card-img-top" alt="Discovery Package" style="width:250px;height:250px;">
      <div class="card-body">
        <h5 class="card-title">Discovery Package</h5>
        <p class="card-text">Plan a romantic staycation at Singapore Marriott Tang Plaza Hotel, complete with an afternoon tea experience with champagne, daily breakfast and 24-hour stay flexibility. Spend quality time with your special perssons.</p>
        <a href="discovery-package" class="btn btn-primary">Book</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
